<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD26LJnBH76ZVv_vvgCBb-UcGY0uDJr_EA</string>
	<key>GCM_SENDER_ID</key>
	<string>541389044760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoFlutter</string>
	<key>PROJECT_ID</key>
	<string>proyectoflutter-31f87</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoflutter-31f87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541389044760:ios:8a2959c2df27d25e9c576d</string>
</dict>
</plist>